{
  "channelPingLogin": "",
  "downloadChannel": [
    "",
    ""
  ],
  "emojiReact": [
    "✅",
    "💾",
    "👀",
    "🎵"
  ],
  "errorChannel": "",
  "getReactionChannel": [
    "",
    ""
  ],
  "owner": "ownerID",
  "sendChannelErrors": "yes",
  "sendDuplicateMessageChannel": [
    ""
  ],
  "sendToOwnerOrChannel": "1",
  "token": "",
  "userCanReact": [
    "globalUsername1",
    "globalUsername2"
  ]
}